body { 
    /* color verde muy claro en el fondo haciendo contraste con distintos colores verdes en el resto del codigo,
    display flex, flex direction y justify content configurados tal que tanto el contenedor de la izquiera(form) y el de la derecha (tabla)
    queden alineados */
    background-color: rgb(207, 249, 235);
    display: flex;
    flex-direction: flex-start;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }

  .navbar {
    /* Barra de navegacion con logo de la facultad */
    background-color: #005555;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .nav-title {
      flex: 1;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      margin: 0 20px;
  }

  .logo-unca{
    width: auto;
    height: auto;
    margin-left: 10px;
  }

  .left-container {
     flex: 1; /* Ocupa el espacio disponible en la columna izquierda */
    padding: 20px;
  }

  .right-container {
      visibility: hidden;
      flex: 1; /* Ocupa el espacio disponible en la columna derecha */
      padding: 20px;
  }

  .form-container {
    /* Contenedor del formulario */
    text-align: center;
    align-items: center;
    padding: 30px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }

  .form-title {
    /*Titulo registro de alumno */
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    color: #008080;
  }

  label{
    /* Etiquetas que especifican los pasos de los inputs a rellenar */
    font-family: 'Rubik', sans-serif;
    display: flex;
    margin-bottom: -17px; /*-17px para que se adecue y se peguen al input*/
    margin-top: 15px;

  }

  label::before {
    content: attr(data-number) ". ";
    color: aquamarine;
  }

  /* ------INPUTS------- */
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
  }

  input[type="text"]:hover,
  input[type="email"]:hover {
    border-color: #008080;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  input[type="text"]:focus,
  input[type="email"]:focus {
    border-color: #008080;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
    outline: none;
  }


  /* ------BOTONES------- */
  input[type="submit"]{
    margin-top: 15px;
    background-color: #cff5f5;
    color: rgb(0, 28, 20);
    border: 1px solid #008080;
    padding: 20px 50px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  }

  button[type="button"]{
    margin-top: 15px;
    background-color: #008080;
    color: white;
    border: none;
    padding: 20px 50px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  }

  input[type="submit"]:hover {
    background-color: #006666;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  button[type="button"]:hover{
    background-color: #006666;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }


  input[type="submit"]:active {
    transform: scale(0.95);
  }

  button[type="button"]:active{
    transform: scale(0.95);
  }

  .buttons{
    display: flex;
    justify-content:space-around;
  }

  /* -------TABLA------- */
  #tabla-alumnos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
  }

  #tabla-alumnos th, #tabla-alumnos td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
  }

  #tabla-alumnos th {
    background-color: #008080;
    color: white;
  }

  #tabla-alumnos tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #tabla-alumnos tr:hover {
    background-color: #d3e0ea;
  }

  .nombreCompleto{
    display: flex;
    justify-content: space-between;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #005555;
    color: white;
    padding: 10px;
    text-align: center;
  }


