* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
}

body {
    background-color: white;
}

/*----------------HEADER----------------------*/

header {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: #f9f1ef;
}

.header-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 0.5rem;
    text-transform: uppercase;
    color: #081f5c;
}


.header-superior img {
    height: 45px;
    width: 45px;
}

.logos {
    display: flex;
    gap: 15px;
    margin-left: 10px;
}

.buscador {
    display: none;
}

.container-menu {
    width: 100%;
    height: 80px;
    background-color: #081f5c;
    padding: 0px 20px;
}

.menu {
    max-width: 1200px;
    margin: auto;
    height: 100%;
}


@media (min-width: 1024px) {

    .header-superior {
        padding: 20px;
        font-size: 0.8rem;
    }

    .header-superior img {
        height: 60px;
        width: 60px;
    }

    .logos {
        display: flex;
        gap: 25px;
        margin-left: 10px;
    }

    .buscador {
        display: flex;
    }

    .buscador input {
        width: 210px;
        margin-right: 10px;
    }
}

/*-----------------Navegador-------------------*/

nav {
    height: 100%;
}

/*para que las propiedades no se apliquen al submenu*/

nav>ul {
    height: 100%;
    display: flex;
    justify-content: center;
    /**/
    flex-direction: row;
    position: static;
}

nav>ul>li {
    height: 100%;
    list-style: none;
    position: relative;

}

nav>ul>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    padding: 15px;
    text-transform: uppercase;
    font-size: 0.9rem;
    transition: all 300ms ease;
}

nav>ul>li>a:hover {
    transform: scale(1.1);
    background-color: #01005e;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*submenu*/

nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 90px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
    list-style: none;
}

nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
}

/*pseudoclase para crear el triangulo*/

nav ul li ul:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a {
    display: block;
    color: black;
    padding: 6px;
    margin-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

nav ul li ul li a:hover {
    background: #334eac;
    color: white;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 0.85rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*icono*/

.icon__menu {
    font-size: 26px;
    color: white;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: flex;
    align-items: center;
    display: none;
}

#check__menu {
    display: none;
}

#label__check {
    width: 26px;
    height: 100%;
    display: none;
}

@media (max-width: 720px) {
    nav>ul {
        flex-direction: column;
        background-color: #01005e;
        ;
        position: fixed;
        left: 0;
        top: 158px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }

    nav>ul>li>a:hover {
        transform: scale(1);
    }

    nav ul li ul {
        left: 90px;
    }

    nav>ul>li>a {
        font-size: 0.8rem;
    }

    nav ul li ul li a {
        font-size: 0.8rem;
    }

    nav>ul>li:hover ul {
        top: 50px;
    }

    #label__check {
        display: block;
    }

    .icon__menu {
        display: flex;
    }

    #check__menu:checked~nav>ul {
        height: 300px;
        visibility: visible;
        opacity: 1;
    }
}


/*----------------FOOTER----------------------*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    margin-top: 20px;
    font-size: 0.7rem;
    background-color: #081f5c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
}


 .form-container {
    /* Contenedor del formulario */
    text-align: center;
    padding: 30px;
    width: 80vh;
    background-color: #bad6eb;
    color: #081f5c;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Centra el contenedor horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra el contenido verticalmente */
  }

 .form-title {
   /*Titulo registro de alumno */
   margin: 20px;
   font-family: 'Courier New', Courier, monospace;
   font-size: 28px;
   color: #000643;
 }

 label{
   /* Etiquetas que especifican los pasos de los inputs a rellenar */
   font-family: 'Rubik', sans-serif;
   display: flex;
   margin-bottom: -17px; /*-17px para que se adecue y se peguen al input*/
   margin-top: 15px;
     
 }
 
 label::before {
   content: attr(data-number) ". ";
   color: aquamarine;
 }

 /* ------INPUTS------- */
 input[type="text"],
 input[type="email"] {
   width: 100%;
   padding: 10px; 
   border: 1px solid #ccc;
   border-radius: 5px;
   background-color: #f9f9f9;
   font-family: 'Arial', sans-serif;
   transition: border-color 0.3s, box-shadow 0.3s;
   box-sizing: border-box;
 }

 input[type="text"]:hover,
 input[type="email"]:hover {
   border-color: #008080;
   box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
 }

 input[type="text"]:focus,
 input[type="email"]:focus {
   border-color: #008080;
   box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
   outline: none;
 }


 /* ------BOTONES------- */
 input[type="submit"]{
   margin-top: 15px;
   background-color: #d3dee7;
   color: rgb(0, 28, 20);
   border: 1px solid #002957;
   padding: 20px 50px;
   cursor: pointer;
   transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
 }

 input[type="submit"]:hover {
   background-color: #081f5c;
   color: white;
   transform: scale(1.05);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }



 input[type="submit"]:active {
   transform: scale(0.95);
 }

 button[type="button"]:active{
   transform: scale(0.95);
 }

 .buttons{
   display: flex;
   justify-content:space-around;
 }
